services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "pg"
      POSTGRES_DB: "qualificado"
      POSTGRES_PASSWORD: "admin"

volumes:
  db:
    driver: local